<div class="mb-4 w-full max-w-xs">  
  @if (users.length > 0) {
    <form [formGroup]="form" class="mb-4">
      <label for="user-select" class="block text-sm font-medium text-gray-700 mb-1">
        Select a user
      </label>
    
      <select id="user-select" formControlName="userId" class="w-full p-2 border rounded">
        <option value="" disabled selected>Choose...</option>
        @for (user of users; track user.id) {
          <option [value]="user.id">{{ user.email }}</option>
        }
      </select>
    </form>    
  } @else {
    <div class="text-sm text-gray-500">Loading users...</div>
  }
</div>
