<div class="flex flex-col justify-between h-full md:h-auto md:flex-row gap-4">
    
    <ul class="space-y-4 text-right md:space-y-0 md:flex items-center md:gap-6">
        <li class="text-[#A40F0F] text-sm font-bold" (click)="logout.emit()">
            Se déconnecter
        </li>
        <li class="text-xl" [routerLink]="['/support/chat']" routerLinkActive="active-link">
            Chat
        </li>
        <li class="text-xl" [routerLink]="['/support/visio']" routerLinkActive="active-link">
            Visio
        </li>
        <li class="text-xl" [routerLink]="['/support/contact']" routerLinkActive="active-link">
            Contact
        </li>
    </ul>
</div>
