
<div class="flex justify-center">
    <form [formGroup]="formGroup" (submit)="onSubmit()" class="w-full max-w-sm">
        <label for="subject" class="block mb-1">
            Sujet
        </label>
        <input formControlName="subject" id="subject" type="text"
            class="w-full px-4 py-2 mb-4">
        @if (subject?.invalid && subject?.touched) {
            <span class="text-red-600 text-sm block">
                {{ subjectError }}
            </span>
        }
        <label for="content" class="block mb-1">
            Message
        </label>
        <textarea formControlName="content" id="content" type="text"
            class="w-full px-4 py-2 mb-4"> 
        </textarea>
        @if (content?.invalid && content?.touched) {
            <span class="text-red-600 text-sm block">
                {{ contentError }}
            </span>
        }
        <button type="submit" [disabled]="formGroup.invalid" class="main-button block mx-auto mt-4">
            Envoyer
        </button>
    </form>
</div>

